Greg the Ghoul/Assets/**/*.*
Greg the Ghoul/Library/
Greg the Ghoul/Temp/
!Greg the Ghoul/Assets/Scripts/*.*
!Greg the Ghoul/Assets/*.unity
!**/*.meta
!Greg the Ghoul/Assets/**/*.meta
!Greg the Ghoul/ProjectSettings/
!Greg the Ghoul/Assets/Controllers/*.*